header.bg-indigo-800.py-2
    .container.mx-auto.flex.justify-between.items-center
        h1.text-2xl.text-white.font-extrabold.text-center Idea 
            span.font-normal Listo

        nav(class="my-5 text-sm md:flex md:items-center md:gap-4 font-bold text-white hidden")
            a(href="") Mis Propiedades
            a(href="") Mi Perfil
            a(class="bg-indigo-600 py-2 px-4 rounded-lg" href="") Cerrar Sesión